<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="https://th.bing.com/th/id/OIP.8k1xGhsvQ5mZG8zf4UIA9gHaHa?pid=ImgDet&rs=1">
        <ion-card-content>
          <p>
            <strong>
              Kindle
            </strong>
          </p>
          <p class="ion-text-right">
            <ion-badge color="light">R$ 328,00</ion-badge>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img src="https://m.media-amazon.com/images/I/51VTDrotGQL.jpg">
        <ion-card-content>
          <p>
            <strong>
              O amor nos tempos do cólera
            </strong>
          </p>
          <p class="ion-text-right">
            <ion-badge color="light">Kindle R$ 19,90</ion-badge>
            <br><ion-badge color="light">Capa dura R$ 52,19</ion-badge>
            <br><ion-badge color="light">Capa comum R$ 33,08</ion-badge>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img src="https://images-na.ssl-images-amazon.com/images/I/41TsvI70n9L._SX335_BO1,204,203,200_.jpg">
        <ion-card-content>
          <p>
            <strong>
              Do Mil ao Milhão. Sem Cortar o Cafezinho.
            </strong>
          </p>
          <p class="ion-text-right">
            <ion-badge color="light">Kindle R$ 22,41</ion-badge>
            <br><ion-badge color="light">Capa dura R$ 30,00 </ion-badge>
            <br><ion-badge color="light">Capa comum R$ 26,90</ion-badge>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img src="https://images-na.ssl-images-amazon.com/images/I/41XbfSiYscL._SX348_BO1,204,203,200_.jpg">
        <ion-card-content>
          <p>
            <strong>
              12 regras para a vida: Um antídoto para o caos
            </strong>
          </p>
          <p class="ion-text-right">
            <ion-badge color="light">Kindle R$ 24,71</ion-badge>
            <br><ion-badge color="light">Capa comum R$ 26,01</ion-badge>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>